/*
************
Variables
************
*/
/*
************
Styles
************
*/
body {
  display: block; }
  body .warning {
    display: block;
    width: 100%;
    background-color: red;
    text-align: center;
    height: 33px;
    line-height: 33px; }
  body #clocksListWrapper {
    padding: 0;
    margin: 0;
    width: 100%; }
    @media (min-width: 1200px) {
      body #clocksListWrapper {
        width: 70%;
        margin: 0 auto; } }
    body #clocksListWrapper > .row {
      margin-bottom: 0px; }
    body #clocksListWrapper .clockBlock {
      min-height: 100px;
      text-align: center;
      margin: 0; }
  body nav {
    background-color: #f2f2f7; }
    body nav .button-collapse {
      margin-right: 28px;
      float: right;
      color: #9e9bad; }
      body nav .button-collapse#refreshButton {
        margin-left: 28px;
        float: left; }
  body #buttonAddClock {
    left: 18px;
    top: 5px; }

#footer {
  padding: 0px;
  margin: 0px; }
  #footer .row {
    margin-bottom: 0px; }

.select-city {
  display: inline-block;
  margin: 5px; }
  .select-city input {
    cursor: pointer; }
