/*
************
Variables
************
*/

$screen-sm-min : 666px;
$screen-md-min : 900px;
$screen-lg-min : 1200px;



/*
************
Styles
************
*/

body{
  display: block;

  .warning{
    display: block;
    width: 100%;
    background-color: red;
    text-align: center;
    height: 33px;
    line-height: 33px;
  }

  #clocksListWrapper{
    padding: 0;
    margin: 0;
    width: 100%;

    @media(min-width: $screen-lg-min)
    {
      width: 70%;
      margin: 0 auto;
    }

    > .row{
      margin-bottom: 0px;
    }

    .clockBlock{
      min-height : 100px;
      text-align: center;
      margin: 0;
      padding: 25px;
      width: 100%;
    }
  }

  #buttonSwitch{
    text-align: center;
    background-color: #1d1c24;
    cursor: pointer;
    p{
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0;
    }
  }

  nav{
    background-color: #f2f2f7;
    .button-collapse{
      margin-right: 28px;
      float: right;
      color: #9e9bad;
      &#refreshButton{
        margin-left: 28px;
        float: left;
      }
    }
  }

  #buttonAddClock{
    left : 18px;
    top : 5px;
  }
}

#footer{
  padding: 0px;
  margin: 0px;
  .row{
    margin-bottom: 0px;
  }
}



.select-city{
  display: inline-block;
  margin: 5px;
  input{
    cursor: pointer;
  }
}

.modal-content{
  ul{
    text-align: center;
    .color-picker{
      width: 20%;
      opacity : 0.4;
      height: 30px;
      display: inline-block;
      border-radius: 6px;
      margin-right: 5px;
      margin-bottom: 5px;
      &.selected {
        opacity : 1;
      }
    }
  }
}

.slider {
  position: inherit;
  height: initial;
  width: initial;
  padding: 0 !important;
  display: inline-block !important; //Sorry
  .options-clock{

    .button-container{
      text-align: center;

      .btn{
        margin-top: 35px;
      }
    }
  }
}

.brand-logo {
  display: table !important;
  height: 100%;
  img{
    width: 55%;
  }
  a{
    display: table-cell;
    vertical-align: middle;
  }
}


.city-label{
  position: absolute;
  z-index : 3000;
  top: 0px;
  text-align: center;
  width: 100%;
}


div[data-slidr='one']
{
  width: 100%;
}

